
.contact_details{ padding: 70px 0;  display: flex; flex-wrap: wrap; justify-content: space-between;}
.contact_information{ flex: 0 0 35%; width: 35%; background-color: #ede0dd; padding:45px 40px; border-radius: 10px; } 
.contact_form{ flex: 0 0 60%; width: 60%; }

.contact_information h2{font-size: 25px ; margin-bottom: 25px ;}


.contact_form .contact_title{ font-size: 30px;}
.contact_form .contact_subtitle{ margin-top: 5px;}
.contact_information ul h4{ margin-top: 20px;}
.contact_information ul li{  display: flex;  align-items: center; gap: 10px;}
.contact_information ul li p{ width: 90%;}
.contact_information ul li{  border-bottom: 2px solid #a19191;padding: 20px 5px; }
.contact_information ul li .icon {  font-size: 20px;     color: #404cdb; }

.contact_form form{ justify-content: space-between;
    width: 100%;
    display: flex;
    flex-flow: wrap;  margin-top: 25px;}
.contact_form .form_group{ display:grid; margin-bottom: 20px;}
.contact_form .form_control{ box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  border-radius: 10px; width: 100%; padding: 14px; border: 1px solid #ccc!important; background-color: #f4f0f0; border: none;  font-size: 15px; }
.contact_form .form_control::placeholder{ font-size: 15px; }
 .contact_form .form_control:HOVER{ }
.contact_form textarea{ border: 1px solid #ccc!important; border-radius: 10px; padding:10px; font-size:15px; font-weight: 500; color: #767e91; background-color: #f4f0f0; border: none; outline: none;}
.contact_form textarea::placeholder{ font-size: 15px;    }

.contact_form .form_btn{ padding: 12px 30px; border: none; font-size: 14px; border: 1px solid #ddd; font-weight:600; margin-top: 10px; border-radius: 10px; cursor: pointer; background-color: #f5f0f0;} 
